
#!/bin/sh


alias cls='clear'
alias vol='cd /run/media/Volume'
alias gh='echo'

cleanup() {
        sudo pacman -Scc
        sudo pacman -Rns $(pacman -Qtdq)
        sudo rm -rf ~/.cache/*
        sudo journalctl --vacuum-size=50M
}

loc() {
  local total
  local firstletter
  local ext
  local lines
  
  total=0

  for ext in $@; do
    firstletter=$(echo $ext | cut -c1-1)
    if [[ firstletter != "." ]]; then
      ext=".$ext"
    fi
    lines=`find-exec "*$ext" cat | wc -l`
    lines=${lines// /}
    total=$(($total + $lines))
    echo "Lines of code for ${fg[blue]}$ext${reset_color}: ${fg[green]}$lines${reset_color}"
  done
  echo "${fg[blue]}Total${reset_color} lines of code: ${fg[green]}$total${reset_color}"
}

topcmd() {
  history | awk 'BEGIN {FS="[ \t]+|\\|"} {print $3}' | sort | uniq -c | sort -nr | head -n $1
}

function find-exec() {
  find . -type f -iname "*${1:-}*" -exec "${2:-file}" '{}' \;
}
